# Editor configuration, see http://editorconfig.org

# 表示是最顶层的 EditorConfig 配置文件
root = true

[*]
# 缩进风格（tab | space）
indent_style = space
# 缩进大小
indent_size = 2
# 设置文件字符集为 utf-8
charset = utf-8
# 控制换行类型(lf | cr | crlf)(lf是\n, cr是\r, crlf是\r\n)
end_of_line = lf
# 去除行首的任意空白字符
trim_trailing_whitespace = true
 # 始终在文件末尾插入一个新行
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false
